# Python Assignment 1

## 1. Add up the numbers below 100 that are divisable by 3, 5 or both.

In [1]:
sum = 0
list= []
for i in range(1,100):
  if i % 3 == 0 or i % 5 == 0 or (i % 3 == 0 and i % 5 == 0):
    sum += i
    list.append(i)
print(sum)

2318

In [2]:
sum

2318

In [3]:
f" If we Add up the numbers below 100 that are divisable by 3, 5 or both we get {sum}"

' If we Add up the numbers below 100 that are divisable by 3, 5 or both we get 2318'

In [4]:
print(list)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

## 2. Make a list of the numbers that are divisable by 7 and less than 50.

In [5]:
list_new = []
for i in range(1,50):
    if i % 7 == 0:
        list_new.append(i)
    
print(list_new)

[7, 14, 21, 28, 35, 42, 49]

## 3. Make a list of even numbers less than 45 that have remainder 1 on division by 3.

In [6]:
even = []
for i in range(45):
  if i % 2 == 0 and i % 3 == 1:
    even.append(i)
print(even)

[4, 10, 16, 22, 28, 34, 40]

## 4. Given a list a, how do you find the largest element? Write a code that finds the largest entry in
$[3,5,8,2,4,9]$.

In [7]:
List = [3,5,8,2,4,9]

In [8]:
f"The maximum number in a list is found by caling max(List) and for this instance the maximum value is {max(List)}"

'The maximum number in a list is found by caling max(List) and for this instance the maximum value is 9'

## 5.Write a code that adds up every second element in b=[5,6,7,3,8,2], starting from 5.

In [9]:
b=[5,6,7,3,8,2]

In [10]:
add=0

for i in range(6):
    if i % 2==0:
        add+=b[i]       
print(add)

print()

20

## 6.Write a code that adds up all the float or integer elements of a list. Note that type(a) returns
float/int/tuple/string. Test it with b=[1,5,4,”hello”,6,”9”].

In [11]:
 b=[1,5,4,"hello",6,"9"]

In [12]:
add =0
for i in b:
    if type(i)==int:
        add+=i 
print(f" If i sum all the elements in my list that are integers or floats i get {add}")

 If i sum all the elements in my list that are integers or floats i get 16

## Problem 0

Write a function that, given $-1<x<1$ and $\epsilon>0$, returns the smallest $n$ such that
$|\sum_{k=0}^n x^k-\frac{1}{1-x}|\le\epsilon$.

In [13]:
def actual(x):
    if x>-1 and x<1:
        actual_value = 1/(1-x)
    return actual_value

In [14]:
actual(.5)

2.0

In [15]:
def approximate_f(x, a):
    result =0
    
    for i in range(a+1):
        result += x**i
    return result

In [16]:
n=0 

def necessary_terms(x, eps):
    if not (-1<x<1) or eps <=0:
        print("Invalid Input")
    sum_ser = 0
    n= 0
    while abs((sum_ser - 1/(1-x)))>eps:
        sum_ser+= x**n
        n+=1
        
    return n

In [17]:
necessary_terms(0.3, 0.001)

f"The neccessary number of terms needed to have epsilon around 0.001 and x= 0.3. We need an n value of {necessary_terms(0.3, 0.001)}"

'The neccessary number of terms needed to have epsilon around 0.001 and x= 0.3. We need an n value of 7'

In [19]:
necessary_terms(0.99, 0.000001)
f"The neccessary number of terms needed to have epsilon around 0.001 and x= 0.3. We need an n value of {necessary_terms(0.99, 0.000001)}"

'The neccessary number of terms needed to have epsilon around 0.001 and x= 0.3. We need an n value of 1833'

## Problem 3

Consider the recursive sequence
$$U_0=7,\quad
  U_1=3,\quad
  U_{k+1}=U_k+3U_{k-1}\text{ for }k\ge 1
$$

Please write a function that, given a positive integer $A$, outputs the number of all $k\ge 0$ such that $U_k\le A$ and $U_k$ is odd. Please test your function on some examples.

In [28]:
def calculate_u(k):
    u = [7, 3]
    while len(u) <= k:
        u.append(u[-1] + 3 * u[-2])
    return u[k]

def count_odd_u_less_than_a(a):
    count, k = 0, 0
    while True:
        u_k = calculate_u(k)
        if u_k > a:
            break
        if u_k % 2 != 0:
            count += 1
        k += 1
        
    return count

In [29]:
print(count_odd_u_less_than_a(1000))

5

### Problem 4

Consider an infinite decimal fraction

$$0.12345678910111213141516171819202122232425....$$

That is, our fraction consists of concatenated decimal representations of natural numbers in increasing order.
Please write a function ``fraction_digit(k)`` that, given positive integer $k$, outputs the $k$-th digit of this fraction.
For example, ``fraction_digit(1)==1``, ``fraction_digit(9)==9`` and ``fraction_digit(11)==0``. Your function should run reasonably fast at least until $k\approx 10^6$. Test your funcion on some exmples.

In [39]:
def fraction_digit(k):
    List = []
    for r in range (1_000_000): # this is our k=10^6
        List.append(r)
    delimiter = ""
    digit_string = map(str,List)
    
    position = delimiter.join(digit_string)
    
    
    return position[k]

In [40]:
print(fraction_digit(19))

4

### Problem 5

Write a function ``count_mondays(year)`` that returns how many Mondays were/will be in a given calendar year. Below I included two suggestions of two other functions you can implement to help you. Please test the function on some examples.

In [ ]:
import datetime as dt

def is_leap_year(year):
    leap = year % 4 == 0 
    return leap

def count_mondays(year):
    mondays_count = 0
    for month in range(1, 13):
        for day in range(1, 32):
            try:
                date = dt.date(year, month, day)
                if date.weekday() == 0:
                    mondays_count += 1
            except ValueError:
                continue
    return mondays_count

In [ ]:
is_leap_year(2024)

In [ ]:
count_mondays(2024)

In [ ]:
import pandas as pd


M = pd.DataFrame([
    [842,655,195,544,768,354,285,491,49,2,917,398,822,126,286,186,278,587,877,973],
    [199,820,414,592,968,11,409,932,847,20,710,167,531,700,532,789,631,543,739,850],
    [351,516,1,581,668,127,495,177,89,893,485,352,401,51,81,749,154,369,67,863],
    [905,473,159,37,676,80,918,2,993,312,857,118,791,642,505,284,565,667,292,265],
    [329,758,667,339,452,950,955,724,95,986,255,7,853,390,543,345,470,354,970,288],
    [373,5,566,193,904,75,362,11,424,303,312,367,981,129,618,650,742,786,232,447],
    [47,582,174,632,425,505,703,127,502,931,273,963,438,577,712,730,408,718,327,409],
    [668,443,856,542,518,794,715,9,526,833,324,158,246,867,130,572,86,386,186,262],
    [325,632,471,315,99,538,897,81,371,886,32,967,569,818,50,299,524,479,586,463],
    [819,124,483,172,146,518,131,324,637,929,732,690,994,989,735,825,760,755,902,566],
    [393,546,545,949,641,34,381,499,462,686,975,757,885,430,295,574,503,671,634,425],
    [678,336,151,370,142,946,412,332,765,890,302,68,448,850,172,372,985,908,260,600],
    [588,399,4,913,201,222,945,808,361,975,689,438,799,647,721,80,634,435,20,211],
    [124,506,295,11,396,134,237,84,99,862,862,205,324,226,162,368,484,961,348,342],
    [803,603,28,126,851,393,742,625,619,700,390,564,264,539,572,121,472,925,327,751],
    [479,297,442,698,506,716,164,457,971,972,851,472,922,649,273,71,491,251,256,394],
    [880,723,782,515,269,283,51,635,238,676,439,0,555,232,843,459,554,207,826,14],
    [598,52,320,133,816,72,183,182,225,261,16,742,780,734,369,560,256,693,564,127],
    [763,896,515,449,779,441,120,113,447,939,635,671,820,168,670,800,931,772,94,402],
    [133,761,829,794,41,979,96,422,839,593,824,161,477,575,386,762,663,526,625,555]
])

In [ ]:
M.head()

In [ ]:
import pandas as pd


def max_submatrix_sum(df, submatrix_size=3):
    rows, cols = df.shape
    max_sum = 0

    for i in range(rows - submatrix_size + 1):
        for j in range(cols - submatrix_size + 1):
            submatrix = df.iloc[i:i+submatrix_size, j:j+submatrix_size]
            submatrix_sum = submatrix.values.sum()
            max_sum = max(max_sum, submatrix_sum)
    
    return max_sum

In [ ]:
max_submatrix_sum(M)

In [ ]:
M.shape